.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #FFEEAD;
}
html, body {
background-color: #FFEEAD;
margin: 10px;
}
.container > div:nth-child(1n) {
background-color: #96CEB4;
}
.container > div:nth-child(3n) {
background-color: #88D8B0;
}
.container > div:nth-child(2n) {
    background-color: #FF6F69;
}